body{
  background-color: #EAFDFC;
}

.textF
{
  background-color: #FFE5F1;
  text-align: left;
  width: 400px;
  height: 350px;
  padding-left: 20px;
  padding-bottom: 20px;
  position:absolute;
  left:35%;
flex: initial;


}

h1
{
  font-family: "Prosto+One";
}

.Ep
{
  font-family: "Roboto:wght@300";
}
.btn {
  background: #34d997;
  background-image: -webkit-linear-gradient(top, #34d997, #2bb878);
  background-image: -moz-linear-gradient(top, #34d997, #2bb878);
  background-image: -ms-linear-gradient(top, #34d997, #2bb878);
  background-image: -o-linear-gradient(top, #34d997, #2bb878);
  background-image: linear-gradient(to bottom, #34d997, #2bb878);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 14px 6px 16px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
